body {
    background-color: beige;
    
}
.landingPage{
    position: relative;
    height: 100vh;
    background-color: orangered;
    
}
.landingPage .heroImage img {
    background-size: cover;
}
.landingPage p {
    position: absolute;
    bottom: 50%;
    left: 300px;
    height: 100px;
    text-align: center;
    color: azure;
    font-size: 1.5em;
    font-weight: bold;
    
}
.landingPage .heroImage nav {
    position: absolute;
    top: 20px;  
    right: 20px; 
}

.landingPage .heroImage nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.landingPage .heroImage nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.projetos{
    height: 100vh;
    background-color: burlywood;
}

.projetos h2 {
    font-size: 3.0em;
    text-align: center;
}
.projetos p{
    font-size: 1.5em;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.card {
    background: pink;
    padding: 20px;
    border-radius: 20px;
    flex: 150px;
    text-align: center;
}
 

.projetos .card h3 a{
   text-decoration: none;
   color: black;
    font-weight: bold;
    font-size: 2.0em;
}

.disciplina{
    height: 100vh;
    background-color: darkorange;
}
.cadeira .disciplina a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.cadeira .disciplina .imagemNuvem {
display: flex;
justify-content: center;
}
@media (max-width: 600) {
  .cadeira {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: grid;
  }
}
@media (max-width: 600px) {
    header, .heroImage nav a {
        flex-direction: column;
    }
    .heroImage nav a {
        display: flex;
    }
    header:hover .heroImage nav a{
        display: flex;
    }
}