header {
  background-color: purple;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

#lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

#lista-produtos article {
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lista-produtos img {
  max-width: 100%;
  height: 150px;
  border-radius: 8px;
}

#lista-produtos h2 {
  font-size: 20px;
  text-align: center;
}

#lista-produtos p {
  text-align: center;
}

#lista-produtos button {
  margin-top: 10px;
  background-color: purple;
  color: white;
  border-radius: 8px;
}

#lista-cesto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

#lista-cesto article {
  border-radius: 10px;
  padding: 10px;
  width: 220px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lista-cesto img {
  max-width: 100%;
  height: 100px;
  border-radius: 6px;
}

#lista-cesto h2 {
  font-size: 18px;
  text-align: center;
}

#lista-cesto button {
  margin-top: 8px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
}

#lista-cesto button:hover {
  background-color: darkred;
}

#cesto-total {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  background-color: azure;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
